.AutoDropdown{
}

@sprite .AutoDropdownButton{
    width:16px;
    height:19px;
    border-bottom: 1px solid #d8d8d8;
	gwt-image:'trigger';
}

.AutoBox {
   background:white;
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
   font-weight: normal;
   font-size: 11px;
   height: 16px;
   cursor: default;
   border: none;
   tex-overflow: ellipsis;
}
