
.ScreenTextBox {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 11px;
	height: 16px;
	border: 1px solid #d8d8d8;
	cursor: default;
	tex-overflow: ellipsis;
	outline : none;
}

.ScreenTextArea {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 11px;
	height: 120px;
	border: 1px solid #d8d8d8;
	cursor: default;
	tex-overflow: ellipsis;
	outline : none;
}

.ScreenLabel {
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size:11px;
}

.InputError {
	border-bottom: 1px dashed red;
}

.InputWarning {
	border-bottom: 1px dashed #f5d852;
}

.Focus {
	border: 1px solid #63b159;
}

.Upper {
	text-transform: uppercase;
}

.Lower {
	text-transform: lowercase;
}