.CalendarWidget {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14px; 
    font-weight: normal;
    padding:0px;
    background-color:white;
    layer-background-color:white;
}

.CalendarWidget .navbar {
    width: 100%;
    background-color: #fff;
}

.CalendarWidget .navbar .gwt-Button {
    padding-left: 1px;
    padding-right: 1px;
    margin-bottom:3px;

}

.CalendarWidget .timebar {
    width:100%;
    border-top: 3px solid #e6eaf6; 
    background-color: #fff;
}

.CalendarWidget .table {
    width:100%;
    text-align: center;
}

.CalendarWidget .weekheader {
    background-color: #e6eaf6;
}

.CalendarWidget .weekheader .days {
    padding:2px;
}

.CalendarWidget .cell {
    cursor:pointer;
    padding:0;
}

.CalendarWidget .cell .gwt-HTML {
    padding:1px;
}

.CalendarWidget .cell .gwt-HTML span {
}

.CalendarWidget .selected{
	border :1px solid red;
}

.CalendarWidget .selectedRow .cell{
	border-top:1px solid red;
	border-bottom:1px solid red;
}

.CalendarWidget .calinactive{
	border:1px solid lightgrey;
}

.CalendarWidget .today .gwt-HTML {
    background-color: #C3D9FF;
}

.CalendarWidget .weekend {
    background-color: #f0f1f6;
}

.CalendarWidget .day .gwt-HTML {
} 


.DateCell {
}

.MyCell {
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size:10px;
    text-align:center;
    height:16px;
}

.MonthBar {
   width:100%;
   background:blue;
}

.DateText {
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size:10px;
    text-align:center;
    height:16px;
}

.MYText {
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size:10px;
    text-align:center;
    height:16px;
}

.WhiteText {
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size:10px;
    text-align:center;
    height:16px;
    color:white;
}

.DayText {
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size:10px;
    font-weight:bold;
    text-align:center;
}

.DayBar {
    background:lightblue;
}

.Calendar {
   background:white;
   border:1px solid lightblue;
}

.DateCell .Hover {
  background:lightblue;
}

.MYCell .Hover {
  background:lightblue;
}

.DateCell .Current {
  background:blue;

}

.MYCell .Current {
  background:blue;

}

.DateCell .Current .DateText {
  border:1px solid red;
}

.MYCell .Current .MYText {
  border:1px solid red;
}
 
.OffMonth {
   color:gray;
}
