.gwt-TabPanel {
	background:#f1ecdd;
}
.gwt-TabBar .gwt-TabBarItem {
	border:1px solid lightgrey;
}
.gwt-TabBar .gwt-TabBarItem-selected {
	border-top:1px solid lightgrey;
	border-left:1px solid lightgrey;	
	border-right:1px solid lightgrey;
}
.gwt-Label {
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
}
.gwt-RadioButton {
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
}	
.gwt-CheckBox {
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
}	
.gwt-TextBox{
	border:1px solid lightgrey;
	background:#ffffff;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
    height:20px;
    width:300px;
    cursor:default;
}
.AutoCompleteTextBox{
	border:1px solid lightgrey;
	background:#ffffff;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
    cursor:default;
}

.gwt-Button{
    border:1px solid #5c3566;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size:12px;
    margin-right:5px;
    margin-bottom:5px;
    cursor:pointer;
    background:white;
}
.gwt-Button:hover {
    color:white;
    background:#ad7fa8;
}

.gwt-ToggleButton-up{
    margin-right:5px;
    border:1px solid #5c3566;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:12px;
    cursor:pointer;
}

.gwt-ToggleButton-down {
    margin-right:5px;
    border:1px solid #5c3566;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:12px;
    cursor:pointer;
    color:white;
    background-image:url(../Images/hashlinespurple.jpg);
}

.gwt-ToggleButton-up-hovering{
    margin-right:5px;
    border:1px solid #5c3566;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size:12px;
    cursor:pointer;
    color:white;
    background:#ad7fa8;
}
.gwt-ToggleButton-down-hovering{
    margin-right:5px;
    border:1px solid #5c3566;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size:12px;
    cursor:pointer;
    color:white;
    background-image:url(../Images/hashlinespurple.jpg);
}

.gwt-HorizontalSplitPanel .right{
    background-image:url(../Images/bluegreycheckers.gif);
}

.gwt-HorizontalSplitPanel .left{
background:#e6eaf6;
}

.splitter{
    width:3px;
    background:#f0f1f6;
    cursor:ew-resize;
}

.gwt-TextArea{
	border:1px solid lightgrey;
	background:#ffffff;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
    width:300px;
    height:150px;
}
.DragSelect {
	width:300px;
}

.DragContainer {
	border:1px solid lightgrey;
	width:140px;
    background:#ffffff;
}
.DragItem{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
    -moz-user-select:none;
    user-select:none;
}
.Inactive {
	color:gray;
	background:#ffffff;
}
.selected{
	background:#e6eaf6;
}
.errors div{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
    color:red;
}
.AutoCompleteChoices select {
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weght:normal;
    font-size:11px;
    background:#ffffee;
}
.menuDiv .Disabled {
	color:gray;
}

.disabled{
	background:grey;
}
.Upper {
  text-transform:uppercase;
}
.Lower {
  text-transform:lowercase;
}
