.Tree{
    background:#d8d8d8;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.TreeWidget{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:10px;
}

.Tree td {
	
}

.Tree tr {
   background:white;
}

.TreeRow{
    height:18px;
    background:white;
}
.AltTreeRow{
    height:16px;
    background:#f8f8f9;
}
.TreeCell {  
   height:18px;
   overflow:hidden;
   cursor:pointer;
   color: black;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 10px;
}

.Selected .TreeCell{
    color:#333;
    background:#D9E8FB;
}

tr .TreeHighlighted{
    color:#000000;
    background:#EEEEEE;
}

.CellError {
    height:16px;
	border-bottom:1px dashed red;
}
.Disabled .TableCell .gwt-Label {
	color:grey;
}