.Tree{
    background:#d8d8d8;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.TreeWidget{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:10px;
}

.Tree td {
	
}

.Tree tr {
   background:white;
}


tr .TreeHighlighted{
    color:#000000;
    background:#FBFBFB;
}
.treeClosedImage{
        background:transparent url(../Images/tree+.gif) no-repeat center center;
        height:18px;
        width:18px;
        cursor:pointer;
}
tr .TreeHighlighted .treeClosedImage{
        background:transparent url(../Images/tree+highlighted.gif) no-repeat center center;
                height:18px;
        width:18px;
}
.treeOpenImage{
        background:transparent url(../Images/tree-.gif) no-repeat center center;
        height:18px;
        width:18px;
        cursor:pointer;
}
tr .TreeHighlighted .treeOpenImage{
        background:transparent url(../Images/tree-highlighted.gif) no-repeat center center;
        height:18px;
        width:18px;
}
.treeLImage{
        background:transparent url(../Images/treedotsL.gif) no-repeat center center;
        height:18px;
        width:18px;
}
.treeIImage{
        background:transparent url(../Images/treedotsI.gif) no-repeat center center;
        height:18px;
        width:18px;
}
.TreeRow{
    height:18px;
    background:white;

}
.AltTreeRow{
    height:16px;
    background:#f8f8f9;
}
.TreeCell {  
   height:18px;
   overflow:hidden;
   color: black;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 10px;
   border-bottom:1px solid #D9E8FB;
 padding-top:2px;
 }
.TreeTableLeftTree{
  color: black;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 10px;
 }
 .TreeTableLeftTree td{

}
.Selected .TreeCell{
    color:#333;
    background:#D9E8FB;
}


.CellError {
    height:16px;
	border-bottom:1px dashed red;
}
.Disabled .TableCell .gwt-Label {
	color:grey;
}