.Tree{
    background:#d8d8d8;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.TreeWidget{

    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:6;
}

.Tree td {
	
}

.Tree tr {
   background:white;
}

.TreeRow{
    height:18px;
    background:white;
}
.AltTreeRow{
    height:16px;
    background:#f8f8f9;
}
.TreeCell {  
height:18px;
    overflow:hidden;
    cursor:pointer;
    color: black;
}

.Selected .TreeCell{
    color:#333;
    background:#d9e8fb;
}

tr .Highlighted{
    color:#000000;
    background:#ffe290;
}

/*.Dropdown .Selected .TableCell{
    color:#FFFFFF;
    background:blue;
}*/

.CellError {
    height:16px;
	border-bottom:1px dashed red;
}
.Disabled .TableCell .gwt-Label {
	color:grey;
}