.Table{
    background:#d8d8d8;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.TableWidget{

    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:6;
}

.Table td {
	
}

.Table tr {
   background:white;
}

.TableRow{
    background:white;
}
.AltTableRow{
    background:#f8f8f9;
}
.TableCell {   
    overflow:hidden;
    cursor:pointer;
    color: black;
}
.RowNum {
    
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    background:#dde0e3;
    text-align:center;
}

.Selected .TableCell{
    color:#333;
    background:#d9e8fb;
}

.Enabled{
    width:100%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    border:0px;
}
.Selected .gwt-CheckBox{
    padding-top:6;
 }
.Focused{
    background:#ffffff;
}
.TitlePanel{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    background:#dde0e3;
}
.Header{
    height:18px;
    background:url("../Images/headersprite.gif") repeat-x;
    border-collapse:collapse;
    border-bottom:1px solid #8db2e3;
    overflow:hidden;
}
.HeaderBar{
    width:3px;
    height:17px;
    background:url('../Images/buttondivider.gif') no-repeat center center;
    cursor:e-resize;
}
.HeaderBarPad{
    cursor:e-resize;
}
.HeaderCell{
    overflow:hidden;
    cursor:pointer;
    height:18px;
    vertical-align:middle;
}
.HeaderIMG {
    overflow:hidden;
    margin:2;
    width:13;
    height:13;
}
.HeaderLabel {
    overflow:hidden;
    color:#486095;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size:11px;
}
.hide{
	display:none;
}

.WindowBody{
background:#99bbe8;
border:1px solid #e9f3f5;
padding:1;
}

.WindowBody .ScreenDeck{
background:white;
}
.AtoZ{
background:white;
}

.navindex{
    display:block;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 10px;
    color:#333333;
    cursor:pointer;
    width:16;
    height:16px;
    padding-top:2;
}

.navindex{
    display:block;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 10px;
    color:#333333;
    cursor:pointer;
    width:16;
    height:16px;
    padding-top:2;
}
a.navindex:hover{
    color:#333333;
    background:url("../Images/headersprite.gif") repeat-x;
    text-decoration:none;
}
.current .navIndex {
    background:url("../Images/headersprite.gif") repeat-x;
}	
.current a.navIndex:hover{
}
a.index:hover{
   color:white;
   background:#ac0000;
   text-decoration:none;
}

.prevNavIndex{
width:16px;
height:16px;
background:url('../Images/previous.gif');
}

.prevNavIndexDisabled{
width:16px;
height:16px;
background:none;
}

.nextNavIndex{
width:16px;
height:16px;
background:url('../Images/next.gif');
}	

a.index:hover{
   color:white;
   background:#ac0000;
   text-decoration:none;
}
.index{
    display:block;
    width:100%;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 10px;
    color:#333333;
    cursor:pointer;
}
.indexselected {
   color:white;
   background:#ac0000;
   text-decoration:none;
}

.Highlighted{
    color:#000000;
    background:#ffe290;
}

/*.Dropdown .Selected .TableCell{
    color:#FFFFFF;
    background:blue;
}*/

