.Table{
    background:#d8d8d8;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.TableWidget{

    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:6;
}

.Table td {
	
}

.Table tr {
   background:white;
}

.TableRow{
    height:18px;
    background:white;
}
tr .AltTableRow{
    background:#f8f8f9;
}

tr .TableHighlighted{
    color:#000000;
    background:#EFEFEF url('../Images/row-over.gif') repeat-x scroll left top;
    border: 1px solid #DDDDDD;
}

.TableCell, .TableCellRight, .TableCellMiddle{  
border-color:#FFFFFF #EDEDED #EDEDED;
border-style:solid;
border-width:1px 1px 1px 0px;
color:black;
cursor:pointer;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:10px;
height:18px;
overflow:hidden;
padding:1px 1px 0px;
}

.TableCellLeft{  
border-color:#FFFFFF #EDEDED #EDEDED #EDEDED;
border-style:solid;
border-width:1px 1px 1px 1px;
color:black;
cursor:pointer;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:10px;
height:18px;
overflow:hidden;
padding:1px 1px 0px;
}

.RowNum {
    
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    background:#dde0e3;
    text-align:center;
}

.Selected .TableCell{
background:#DFE8F6 none repeat scroll 0 0 !important;
border:1px dotted #A3BAE9;
}

.Selected .TableCellLeft{
background:#DFE8F6;
border-left:1px dotted #A3BAE9;
border-top:1px dotted #A3BAE9;
border-bottom:1px dotted #A3BAE9;
}

.Selected .TableCellMiddle{
background:#DFE8F6;
border-top:1px dotted #A3BAE9;
border-bottom:1px dotted #A3BAE9;
}

.Selected .TableCellRight{
background:#DFE8F6;
border-right:1px dotted #A3BAE9;
border-top:1px dotted #A3BAE9;
border-bottom:1px dotted #A3BAE9;
}

.Enabled{
    width:100%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    border:0px;
}
.Selected .gwt-CheckBox{
    padding-top:6;
 }
.Focused{
    background:#ffffff;
}
.TitlePanel{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    background:#dde0e3;
}

.FavHeader{
    height:20px;
    background:url("../Images/headersprite.gif") repeat-x;
    border-collapse:collapse;
    overflow:hidden;
}

.Header{
    height:17px;
    background:#eeeff1 url("../Images/headersprite.gif") repeat-x;
    overflow:hidden;
   // border:1px solid #B5B8C8;
}
.HeaderBar{
    width:3px;
    height:18px;
    background:url('../Images/headerdivider.gif') no-repeat center bottom;
    cursor:e-resize;
}
.HeaderBarPad{
    cursor:e-resize;
}
.HeaderCell{
    overflow:hidden;
  //  cursor:pointer;
    height:18px;
    vertical-align:middle;
}
.HeaderIMG {
    overflow:hidden;
    margin:2;
    width:13;
    height:13;
}
.HeaderLabel {
    overflow:hidden;
    color:grey;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size:11px;
       -moz-user-select: none;
}
.hide{
	display:none;
}

.WindowBody{
background:#99bbe8;
border:1px solid #e9f3f5;
padding:1;
}

.WindowBody .ScreenDeck{
background:white;
}
.AtoZ{
background:white;
}

.navindex{
    display:block;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 10px;
    color:#333333;
    cursor:pointer;
    width:16;
    height:16px;
    padding-top:2;
}

.navindex{
    display:block;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 10px;
    color:#333333;
    cursor:pointer;
    width:16;
    height:16px;
    padding-top:2;
}
a.navindex:hover{
    color:#333333;
    background:url("../Images/headersprite.gif") repeat-x;
    text-decoration:none;
}
.current .navIndex {
    background:url("../Images/headersprite.gif") repeat-x;
}	
.current a.navIndex:hover{
}
a.index:hover{
   color:white;
   background:#ac0000;
   text-decoration:none;
}

.prevNavIndex{
width:16px;
height:16px;
background:url('../Images/previous.gif') no-repeat center center;
}
.disabled .prevNavIndex{
background:url('../Images/previousdisabled.gif') no-repeat center center;
cursor:default;
}

.nextNavIndex{
width:16px;
height:16px;
background:url('../Images/next.gif') no-repeat center center;
}	
.disabled .nextNavIndex{
background:url('../Images/nextdisabled.gif') no-repeat center center;
cursor:default;
}

a.index:hover{
   color:white;
   background:#ac0000;
   text-decoration:none;
}
.index{
    display:block;
    width:100%;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 10px;
    color:#333333;
    cursor:pointer;
}
.indexselected {
   color:white;
   background:#ac0000;
   text-decoration:none;
}

tr .Highlighted{
    color:#000000;
    background:#EFEFEF url('../Images/row-over.gif') repeat-x scroll left top;
    border: 1px solid #DDDDDD;
}

.CellError {
    height:16px;
	border-bottom:1px dashed red;
}
.Disabled .TableCell .gwt-Label {
	color:grey;
}

.topHeaderBar { 
    height:18px;
    width:100%;
    background:black url("../Images/headersprite.gif") repeat-x;
        border-bottom: 1px solid #b5b8c8;
}

.topHeaderBarItem {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size:10px;
    font-weight : bold;
    color:white;
}
.Hover .topHeaderBarItem, .Selected .topHeaderBarItem{
    color:black;
    cursor:pointer;
    border:1px solid #333;
    background:#f0f0f0;
}

.topHeaderContainer{
    border:1px solid #b5b8c8;
    border-top:0;
    background:#f0f0f0 url('../Images/menu.gif') repeat-y;
}

.topHeaderItemMiddle{
    height:2em;

}
.topHeaderItemTitle{
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size:10px;
}

.disabled .topHeaderItemTitle {
color:gray;
}

.topHeaderItemDesc{
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size:9px;
    color:gray;
}
.topHeaderIcon{
    width:20px;
    height:2em;
}
.TopHeaderRowContainer{
    width:200px;
}

.Hover .TopHeaderRowContainer, .TopHeaderRowContainer Hover {
    cursor:pointer;
    padding:0;
    background:url('../Images/white-top-bottom.gif') repeat-x;
    border:1px solid #8db2e3;
}
