.disabled{
    cursor:default;
}

.navIndex{
}

.ScreenLoad{
  cursor:wait;
}
a.navIndex:hover {
}

.gwt-HTML-separator{
    width:1px;
#    width:2px;
    height:16px;
    margin-top:3px;
    background:#bbc0c7;
    border-bottom:1px solid #f8f8f9;
    border-right:1px solid #f8f8f9;
}

.ScreenButtonPanel{
    border-top:1px solid white;
    border-bottom:1px solid #f0f1f2;
    background:url("../Images/listheadergrad_obsidian.gif");
}

.ScreenPanelButton .ScreenLabel {
    padding-top:3px;
    padding-left:1px;
    padding-right:1px;
    padding-bottom:5px;
    color: #616a76;
    text-align:center;
    width:100px;
}

.ScreenButtonPanel .Hover .ScreenLabel{
    padding-top:2px;
    padding-left:0px;
    padding-right:0px;
    padding-bottom:4px;
    background-image:url("../Images/menubuttonhover.gif");
    border:1px solid #6f9dd9;
    cursor:pointer;
    color:#333;
}

.ScreenButtonPanel .disabled .ScreenLabel{
    padding-top:3px;
    padding-left:1px;
    padding-right:1px;
    background:transparent;
    border:none;
    cursor:default;
    color:#f8f8f9;
}

.CloseButton {
    padding:2px;
}
.Hover .CloseButton {
    padding:1px;
    border:1px solid #6f9dd9;
    background-image:url("../Images/menubuttonhover.gif");
    cursor:pointer;
}

.AppBackground {
    background:#535353;
}

.WindowPanel {
    background:white;
    border:1px solid #76808e;
}

.LeftMenuPanePanel {
   background: #FAFEFE;
   border-left: 1px solid #AFDEF1;
   border-right: 1px solid #AFDEF1;

   border-top: 1px solid #AFDEF1;
   border-bottom: 1px solid #AFDEF1;
}

.LeftMenuArrowImage {
	vertical-align:middle;
}

.Caption{
    background-image: url("../Images/topnavunselected_obsidian.gif");
    background-repeat: repeat-x;
    background-color: #dde0e3;
    height:19;
    cursor:move;
}
.StatusBar {
    background-image: url("../Images/topnavunselected_obsidian.gif");
    background-repeat: repeat-x;
    background-color: #dde0e3;
    height:19;
    cursor:move;
}

.ScreenMenuLabel{
    font-family:Verdana;
    font-size:12px;
}

.ScreenWindowLabel{
    font-family:Verdana;
    font-size:12px;
    color: #616a76;
    padding-left:6px;
    padding-top:2px;
}

.ScreenMenuList {
    background:#f8f8f9;
    width:85%;
    halign:center;
}

.ScreenMenuLabel {
    width:100%;
}

.ListItem{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    cursor:pointer;
    color:#276cff;
    padding:4px;
}

.ListSubItem{
    cursor:pointer;
    color:#276cff;
    padding:4px;
}

.ListHeader {
    height:16;
    background-color:#dde0e3;
    border-top:1px solid #c7cbd1;
    border-bottom:1px solid #c7cbd1;
    color:#373c43;
    cursor:default;
    padding-left:6px;
}

.Hover .ListItem{
    color:#000000;
}

.Hover .ListSubItem{
    color:#000000;
}

/*******TOP MENU BAR CSS***********/
.topMenuBar { 
    background-color:#dde0e3;
    border-top:1px solid #c7cbd1;
    border-bottom:1px solid #c7cbd1;
    color:#373c43;
    cursor:default;
    padding-left:6px; 
background-image: url("../Images/topnavunselected_obsidian.gif");
}

.topMenuBarItem {
  font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size:11px;
  padding-left:8px;
  padding-right:8px;
}

.Hover .topMenuBarItem {
  font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size:11px;
 /* color:#FFFFFF;*/
background-image:url("../Images/menubuttonhover.gif");
 /* background-color:#fb8c3c;*/



/*  background-color:#333333;*/
}

.topMenuBarItemSelected {
  font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size:11px;
  padding-left:8px;
  padding-right:8px;
  background-image:url("../Images/menubuttonhover.gif");
/*  color:#000000; */
/*  background-color:#fb8c3c;*/
  /*background-color:#FFFFCC;*/
}

.topMenuPanel { 
    cursor:pointer;
    color:#276CFF;
    background-color:#faf7fd;
    border:1px solid #898e92;
}

.topMenuPanelHover{
    cursor:pointer;
    color:#276CFF;
    background-color:#ffe584;
}

.topMenuPanelTitle{
    font-size:12px;
    cursor:pointer;
    color:#276cff;
    font-weight:bold;
}

.topMenuPanelIcon{
   padding-left:3px;
   padding-right:3px;
   text-align:center;
   border:none;
}

.topMenuPanel .topMenuPanelIconPanel {
   background-color:#dde0e3;
   border-right:1px solid #b8c0c8; 
}

.topMenuPanelHover .topMenuPanelIconPanel {
   background-color:#ffe584;
   border-right:1px solid #ffe584;
}

.topMenuPanelItemMiddle{
   padding-right:2px;
   /*padding-left:3px;*/
}
/*******END TOP MENU BAR CSS***********/

.ScreenTable {
}

.TitlePanel{
    padding-top:2px;
    padding-left:5px;
    background:white;
    border-bottom:1px solid #fb8c3c;
}

.ScreenWindowLabel .MenuText{
    border-bottom: none;
    color: white;
    font-weight:bold;
    padding-left:3px;
}

.ScreenTable .TitlePanel .gwt-Label{
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
    font-weight:bold;
    color:#fb8c3c;
    text-align:left;
}

/*******TAB PANEL CSS***********/
.gwt-TabBar .gwt-TabBarItem {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 12px; 
    border-top:3px solid #fff;
    padding:3px;
    cursor:pointer;
    margin-left:5px;
    border-top: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

.gwt-TabBar .gwt-TabBarItem-selected {
  border-top: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
    cursor:default;
    background:#eed990;
}

.gwt-TabPanelBottom{
    border:1px solid #CCCCCC;
}
.gwt-TabBar .gwt-TabBarRest {
  padding-right: 3px;
}
/*******END TAB PANEL CSS***********/

.ScreenAbsolute{

}

.ScreenDeck{

}

.ScreenDisclosure{

}

.ScreenDock{

}

.ScreenHPVP{

}

.ScreenSplit {
    background:#383838;
}

.ScreenSplit .hsplitter{
    width:3px;
    background:#f0f1f6;
    cursor:ew-resize;
    height:100%
}

.ScreenSplit .vsplitter{
    width:100%;
    background:#f0f1f6;
    cursor:ns-resize;
    height:3px;
}

.ScreenStack{

}

.ScreenTab{
  	/*background:#f1ecdd;*/
}

.ScreenTablePanel{
border:collapse;


}

.Screen{

}

.ScreenAuto {
    border:1px solid lightgrey;
    background:#ffffff;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
    cursor:default;	
}

.AutoCompleteChoices select {
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weght:normal;
    font-size:11px;
    background:#ffffee;
}

.Commit {
}

.Commit-disabled{
    cursor:default;
}

.Previous {
}

.Previous-disabled {
    cursor:default;
}

.Next {
}

.Next-disabled {
    cursor:default;
}

.Delete {
}

.Delete-disabled {
    cursor:default;
}

.Abort {
}

.Abort-disabled {
    cursor:default;
}

.Reload {
}

.Reload-disabled {
    cursor:default;
}

.Query {
}

.Query-disabled {
    cursor:default;
}

.Update {
}

.Update-disabled {
    cursor:default;
}

.Add {
}

.Add-disabled {
    cursor:default;
}

.ScreenCalendar {

}

.ScreenCalendar-box {
    border:1px solid lightgrey;
    background:#ffffff;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
    height:20px;
    cursor:default;
}

.ScreenCalendar-button {
    margin:2px;
    cursor:pointer;
    background:white;	
}

.ScreenCheck {
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
}

.ScreenDragSelect {
    background:white;
}

.locked{
    -moz-user-select:none;
}

.DragContainer{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:8pt;
    border:2px solid #d8d8d8;
}

.DragItem{
    cursor:ew-resize;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weght:normal;
    font-size:11px;
}

.ScreenError {
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
    color:#fb8c3c;
}

.ScreenHTML img{
    /*background-image:url("../Images/listheadergrad_obsidian.gif");
    border:solid 1px #c5cad0;*/
    cursor:pointer;
/*    margin-right:2px;*/
}

.ScreenImage {
    margin:2px;
    cursor:pointer;
}

.ScreenMaskedBox{
    border:1px solid lightgrey;
    background:#ffffff;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
    height:20px;
    cursor:default;
}

.MenuImage{
##    width:24;
##    height:24;
}

.ScreenOption{

}

.ScreenPassword {

}

.ScreenRadio {
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
}

.ScreenTabBrowser{

}

.ScreenTextArea{
    border:1px solid lightgrey;
    background:#ffffff;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
    height:150px;
}

.ScreenTextBox{
    border:1px solid lightgrey;
    background:#ffffff;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
    height:20px;
    cursor:default;
}

.ScreenTree{

}

.ScreenWindowBrowser{
}

.WindowDragPanel {
	background:lightblue;
	border:1px dashed black;
	opacity:.5;
filter: alpha(opacity=50);
}
.ScreenWindowBrowser {
}
.Inactive {
    cursor:default;
    color:#d8d8d8;
}
.selected{
	background:#e6eaf6;
}

.ScreenStack {
    width:100%;
    background:#e6eaf6;
}
.ScreenDragList {
	-moz-user-select:none;
    background:#e6eaf6;
}
.gwt-StackPanelItem {
    font-family:Verdana;
    font-size:12px;
    cursor:pointer;
    border-bottom:1px solid #73d216;
    background:white;
}
.gwt-StackPanelItem-Selected {
    background:#e6eaf6;
}
.ScreenLabel{
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size:11px;
}
.StatusBar a.header{
    text-decoration:none;
}
.StatusBar .ScreenWindowLabel {
    background:white;
    color:#fb8c3c;
    text-align:center;
    padding:8px;
}

/*the following is from the tt.css */

.CalendarButton {
	padding:2px;
}

.Form {	
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
    background:#ffffff;
    width:100%;
    border-collapse:collapse;
border:1px dashed #babdb6;
    margin-left:6px;
}

.FormBorderless {	
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
    background:#ffffff;
    width:100%;
    border-collapse:collapse;
    margin-left:6px;
}

.Form select,.FormBorderless select{
    border:1px solid lightgrey;
    background:#ffffff;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
}
.FormTitle{
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    color:white;
    font-size:11px;
    line-height:15px;
    background:#ad7fa8;
    text-align:center;
}
.Form .Prompt,.FormBorderless .Prompt  {
    /*background:#eeeeec; */
    color:#333333;
    vertical-align:top;
    text-align:right;
    padding:2px;
    padding-right:4px;
    height:16px;
}

.FieldSet {
	border:1px dashed #fb8c3c;
padding: 2px;
margin 2px;
}

.FieldSet Legend {
	background-color:#FFFFFF;
}


.Panels{
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
    background:#ffffff;
    vertical-align:text-bottom;
}
.AppMessage{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	color: #333333; 
	font-weight: bold;
	background:url(../Images/goldbarno.jpg);
}
.invisible{
	visibility:hidden;
}
.NavLinks {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	color: #003366; 
	font-weight: bold;
	cursor:pointer;
}	
.focused {
	background:#fefefe;
}
.locked {
	-moz-user-select:none;
	user-select:none;
}
.button-grid {
    text-align:center;
    width:100%;
}

.ButtonBar {
}

.ScreenTree {
    background:#e6eaf6;
    width:100%;
}
.ScreenTree .gwt-TreeItem{
    cursor:pointer;
    font-family:Verdana;
}
.TabBrowser {
}
.TabBrowser .gwt-TabBar{
    border:none;
    padding-bottom:0px;
}
.TabBrowser .gwt-TabBar .gwt-TabBarItem {
    width:175px;
    cursor:pointer;	
    margin-right:5;
    border-bottom:0px solid white;
}
.TabBrowser .gwt-TabBar .gwt-TabBarItem-selected {
    border:1px solid #73d216;
    border-bottom:0px solid white;
    background-image:url(../Images/hashlines.jpg);
}
.TabBrowser .gwt-TabPanelBottom {
    padding-top:5;
    padding-left:5;
    border:1px solid #73d216;
    background:white;
}

.TabBrowser .gwt-TabBar .gwt-TabBarFirst{
    width:0px;
}

.bar {
    cursor:ew-resize;
    width:2px;
}


