.disabled{
    cursor:default;
}

.navIndex{
}

.ScreenLoad{
  cursor:wait;
}
a.navIndex:hover {
}

.gwt-HTML-separator{
    width:1px;
#    width:2px;
    height:16px;
    margin-top:3px;
    background:#bbc0c7;
    border-bottom:1px solid #f8f8f9;
    border-right:1px solid #f8f8f9;
}

.ScreenButtonPanel{
    border-top:1px solid white;
    border-bottom:1px solid #f0f1f2;
    background:url("../Images/listheadergrad_obsidian.gif");
}

.ScreenPanelButton .ScreenLabel {
    padding-top:3px;
    padding-left:1px;
    padding-right:1px;
    padding-bottom:5px;
    color: #616a76;
    text-align:center;
    width:75px;
}

.ScreenButtonPanel .Hover .ScreenLabel{
    padding-top:2px;
    padding-left:0px;
    padding-right:0px;
    padding-bottom:4px;
    background-image:url("../Images/menubuttonhover.gif");
    border:1px solid #6f9dd9;
    cursor:pointer;
    color:#333;
}

.ScreenButtonPanel .disabled .ScreenLabel{
    padding-top:3px;
    padding-left:1px;
    padding-right:1px;
    background:transparent;
    border:none;
    cursor:default;
    color:#f8f8f9;
}

.CloseButton {
    background-image:url("../Images/close.png");
    width:8px;
    height:8px;
    padding:2px;
}
.MinimizeButton {
    background-image:url("../Images/bullet_red.png");
    width:16px;
    height:16px;
    padding:2px;
}

.Hover .CloseButton {
    padding:1px;
    border:1px solid #6f9dd9;
    background-image:url("../Images/menubuttonhover.gif");
    cursor:pointer;
}

.AppBackground {
    background:#535353;
}

.WindowPanel {
    background:white;
    border:1px solid #76808e;
}

.LeftMenuPanePanel {
   vertical-align:center;   
}

.LeftMenuPanePanel .Hover{
    background-color:#ffe584;
}

.LeftMenuPanePanelDiv{
    margin-top:200;
    padding-top:35;
    border-right: 1px solid #fb8d3d;
    width:8px;
    height:45;
    cursor:pointer;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size:8px;
    font-weight:bold;
   vertical-align:center;   
}

.LeftMenuArrowImage {
	vertical-align:middle;
}

.Caption{
    background-image: url("../Images/topnavunselected_obsidian.gif");
    background-repeat: repeat-x;
    background-color: #dde0e3;
    height:19;
    cursor:move;
}
.StatusBar {
    background-image: url("../Images/topnavunselected_obsidian.gif");
    background-repeat: repeat-x;
    background-color: #dde0e3;
    height:19;
    cursor:move;
}

.ScreenMenuLabel{
    font-family:Verdana;
    font-size:12px;
}

.ScreenWindowLabel{
    font-family:Verdana;
    font-size:12px;
    color: #616a76;
    padding-left:6px;
    padding-top:2px;
}

.ScreenMenuList {
    background:#f8f8f9;
    width:85%;
    halign:center;
}

.ScreenMenuLabel {
    width:100%;
}

.ListItem{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    cursor:pointer;
    color:#276cff;
    padding:4px;
}

.ListSubItem{
    cursor:pointer;
    color:#276cff;
    padding:4px;
}

.ListHeader {
    height:16;
    background-color:#dde0e3;
    border-top:1px solid #c7cbd1;
    border-bottom:1px solid #c7cbd1;
    color:#373c43;
    cursor:default;
    padding-left:6px;
}

.Hover .ListItem{
    color:#000000;
}

.Hover .ListSubItem{
    color:#000000;
}

/*******TOP MENU BAR CSS***********/
.topMenuBar { 
    background-color:#dde0e3;
    border-top:1px solid #c7cbd1;
    border-bottom:1px solid #c7cbd1;
    color:#373c43;
    cursor:default;
    padding-left:6px; 
background-image: url("../Images/topnavunselected_obsidian.gif");
}

.topMenuBarItem {
  font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size:11px;
  padding-left:8px;
  padding-right:8px;
}

.Hover .topMenuBarItem {
  font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size:11px;

background-image:url("../Images/menubuttonhover.gif");

}

.topMenuBarItemSelected {
  font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size:11px;
  padding-left:8px;
  padding-right:8px;
  background-image:url("../Images/menubuttonhover.gif");
}

.topMenuPanel { 
    cursor:pointer;
    color:#276CFF;
    background-color:#faf7fd;
    border:1px solid #898e92;
}

.topMenuPanelHover{
    cursor:pointer;
    color:#276CFF;
    background-color:#ffe584;
}

.topMenuPanelHover .disabled,.topMenuPanel .disabled{
    cursor:default;
    color:#616a76;
    background-color:#faf7fd;
}

.topMenuPanelHover .topMenuPanelIconPanelDisabled, .topMenuPanel .topMenuPanelIconPanelDisabled {
   cursor:default;
   background-color:#dde0e3;
   border-right:1px solid #b8c0c8;
}

.topMenuPanelTitle{
    font-size:12px;
    cursor:pointer;
    color:#276cff;
    font-weight:bold;
}

.topMenuPanelTitle .disabled{
    cursor:default;
    font-size:12px;
    color:#616a76;
    font-weight:bold;
}

.topMenuPanelDesc {
   color:#616a76;
}

.topMenuPanelIcon{
   padding-left:3px;
   padding-right:3px;
   text-align:center;
   border:none;
}

.topMenuPanel .topMenuPanelIconPanel {
   background-color:#dde0e3;
   border-right:1px solid #b8c0c8; 
}

.topMenuPanelHover .topMenuPanelIconPanel {
   background-color:#ffe584;
   border-right:1px solid #ffe584;
}

.topMenuPanelItemMiddle{
   padding-right:2px;
   /*padding-left:3px;*/
}
/*******END TOP MENU BAR CSS***********/

.ScreenTable {
}

.TitlePanel{
    padding-top:2px;
    padding-left:5px;
    background:white;
    border-bottom:1px solid #fb8c3c;
}

.ScreenWindowLabel .MenuText{
    border-bottom: none;
    color: white;
    font-weight:bold;
    padding-left:3px;
}

.ScreenTable .TitlePanel .gwt-Label{
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
    font-weight:bold;
    color:#fb8c3c;
    text-align:left;
}

/*******TAB PANEL CSS***********/
.gwt-TabBar .gwt-TabBarItem {
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10px; 
    cursor:pointer;
    padding:2;
    margin-right:14;
}

.gwt-TabBar .gwt-TabBarItem-selected {
    cursor:default;
    padding-right:16;
    margin:0;
    background:#f8f8f9 url('../Images/selectedtabrightside.gif') no-repeat scroll right;
}

.gwt-TabPanelBottom{
    background:#f8f8f9 url('../Images/tabpanelbottom.gif') no-repeat scroll bottom right;
    padding-right:15;
    padding-bottom:15;
    margin:0;
}
.gwt-TabBar .gwt-TabBarRest {
  padding-right: 3px;
}
/*******END TAB PANEL CSS***********/

/*******autodropdown css***********/
.AutoDropdownButton{
width:16px;
height:19px;
border-bottom: 1px solid #d8d8d8;
background: url(../Images/trigger.gif) 0px 0px no-repeat;
}
.AutoDropdown .Hover{
cursor:pointer;
border-bottom: 1px solid  #7eadd9;
background: url(../Images/trigger.gif) -16px 0px no-repeat;
}
.AutoDropdown .Selected{
border-bottom: 1px solid  #7eadd9;
background: url(../Images/trigger.gif) -64px 0px no-repeat;
}
.AutoDropdown .Pressed{
border-bottom: 1px solid #d8d8d8;
background: url(../Images/trigger.gif) -48px 0px no-repeat;
}
.AutoCompletePopup{
background:#FFFFFF;
border: 1px solid #7eadd9;
}
.AutoDropdown .TextboxSelected{
    border:1px solid #7eadd9;
    color:#000000;
    background:#ffffff;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
    height:20px;
    cursor:default;
}
.AutoDropdown .TextboxUnselected{
    border:1px solid lightgrey;
    color:#000000;
    background:#ffffff;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
    height:20px;
    cursor:default;
}
/*******end autodropdown css********/
.ScreenAbsolute{

}

.ScreenDeck{

}

.ScreenDisclosure{

}

.ScreenDock{

}

.ScreenHPVP{

}

.ScreenSplit {
    background:#383838;
}

.ScreenSplit .hsplitter{
    width:3px;
    background:#f0f1f6;
    cursor:ew-resize;
    height:100%
}

.ScreenSplit .vsplitter{
    width:100%;
    background:#f0f1f6;
    cursor:ns-resize;
    height:3px;
}

.ScreenStack{

}

.ScreenTab{
  	/*background:#f1ecdd;*/
}

.ScreenTablePanel{
border:collapse;


}

.Screen{

}

.ScreenAuto {
    border:1px solid lightgrey;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
    cursor:default;	
}

.AutoCompleteChoices select {
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weght:normal;
    font-size:11px;
    background:#ffffee;
}

.Commit {
}

.Commit-disabled{
    cursor:default;
}

.Previous {
}

.Previous-disabled {
    cursor:default;
}

.Next {
}

.Next-disabled {
    cursor:default;
}

.Delete {
}

.Delete-disabled {
    cursor:default;
}

.Abort {
}

.Abort-disabled {
    cursor:default;
}

.Reload {
}

.Reload-disabled {
    cursor:default;
}

.Query {
}

.Query-disabled {
    cursor:default;
}

.Update {
}

.Update-disabled {
    cursor:default;
}

.Add {
}

.Add-disabled {
    cursor:default;
}

.ScreenCalendar {

}

.ScreenCalendar-box {
    border:1px solid lightgrey;
    background:#ffffff;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
    height:20px;
    cursor:default;
}

.ScreenCalendar-button {
    margin:2px;
    cursor:pointer;
    background:white;	
}

.ScreenCheck {
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
}

.ScreenDragSelect {
    background:white;
}

.locked{
    -moz-user-select:none;
}

.DragContainer{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:8pt;
    border:2px solid #d8d8d8;
}

.DragItem{
    cursor:ew-resize;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weght:normal;
    font-size:11px;
}

.ScreenError {
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
    color:#fb8c3c;
}

.ScreenHTML img{
    /*background-image:url("../Images/listheadergrad_obsidian.gif");
    border:solid 1px #c5cad0;*/
    cursor:pointer;
/*    margin-right:2px;*/
}

.ScreenImage {
    margin:2px;
    cursor:pointer;
}

.ScreenMaskedBox{
    /*border:1px solid lightgrey;*/
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
    height:20px;
    cursor:default;
}

.MenuImage{
##    width:24;
##    height:24;
}

.ScreenOption{

}

.ScreenPassword {

}

.ScreenRadio {
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
}

.ScreenTabBrowser{

}

.Focus{
    border:1px solid #7eadd9;
}

.NoFocus{
    border:1px solid lightgrey;
}

.ScreenTextArea{
   /* border:1px solid lightgrey;*/
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
    height:150px;
}

.ScreenTextBox{
    /*border:1px solid lightgrey;*/
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;

    font-weight: normal;
    font-size:11px;
    height:20px;
    cursor:default;
}

.ScreenWindowBrowser{
}

.WindowDragPanel {
	background:lightblue;
	border:1px dashed black;
	opacity:.5;
filter: alpha(opacity=50);
}
.ScreenWindowBrowser {
}
.Inactive {
    cursor:default;
    color:#d8d8d8;
}
.selected{
	background:#e6eaf6;
}

.ScreenStack {
    width:100%;
    background:#e6eaf6;
}
.ScreenDragList {
	-moz-user-select:none;
    background:#e6eaf6;
}
.gwt-StackPanelItem {
    font-family:Verdana;
    font-size:12px;
    cursor:pointer;
    border-bottom:1px solid #73d216;
    background:white;
}
.gwt-StackPanelItem-Selected {
    background:#e6eaf6;
}
.ScreenLabel{
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size:11px;
}
.StatusBar a.header{
    text-decoration:none;
}
.StatusBar .ScreenWindowLabel {
    background:lightgrey;
    color:#fb8c3c;
    text-align:center;
    padding:8px;
}

/*the following is from the tt.css */

.CalendarButton {
	padding:2px;
}

.Form {
	border-collapse:collapse;
	font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-size:11px;
	font-weight:normal;
	width:100%;
}

.Form .Prompt {
	background:#F8F8F9 none repeat scroll 0%;
	color:#616A76;
	height:16px;
	padding:2px 4px 2px 2px;
	text-align:right;
	vertical-align:top;
}

.FormBorderless {	
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
    width:100%;
    border-collapse:collapse;
    margin-left:6px;
}

.Form select,.FormBorderless select{
    border:1px solid lightgrey;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
}
.FormTitle {
	background:white none repeat scroll 0%;
	border-bottom:1px solid #FB8C3C;
	color:#FB8C3C;
	font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-size:11px;
	font-weight:bold;
	text-align:left;
}
.Form .Prompt,.FormBorderless .Prompt  {
    /*background:#eeeeec;  */
    color:#333333;
    vertical-align:top;
    text-align:right;
    padding:2px;
    padding-right:4px;
    height:16px;
}

.FieldSet {
	border:1px dashed #fb8c3c;
padding: 2px;
margin 2px;
}

.FieldSet Legend {
	background-color:#FFFFFF;
}


.Panels{
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
    vertical-align:text-bottom;
}
.AppMessage{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	color: #333333; 
	font-weight: bold;
	background:url(../Images/goldbarno.jpg);
}
.invisible{
	visibility:hidden;
}
.NavLinks {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	color: #003366; 
	font-weight: bold;
	cursor:pointer;
}	
.focused {
	background:#fefefe;
}
.locked {
	-moz-user-select:none;
	user-select:none;
}
.button-grid {
    text-align:center;
    width:100%;
}

.ButtonBar {
}

.ScreenTree {
  /*  background:#e6eaf6; */
    width:100%;
}
.ScreenTree .gwt-TreeItem{
    cursor:pointer;
    font-family:Verdana;
}
.TabBrowser {
}
.TabBrowser .gwt-TabBar{
    border:none;
    padding-bottom:0px;
}
.TabBrowser .gwt-TabBar .gwt-TabBarItem {
    width:175px;
    cursor:pointer;	
    margin-right:5;
    border-bottom:0px solid white;
}
.TabBrowser .gwt-TabBar .gwt-TabBarItem-selected {
    border:1px solid #73d216;
    border-bottom:0px solid white;
    background-image:url(../Images/hashlines.jpg);
}
.TabBrowser .gwt-TabPanelBottom {
    padding-top:5;
    padding-left:5;
    border:1px solid #73d216;
    background:white;
}

.TabBrowser .gwt-TabBar .gwt-TabBarFirst{
    width:0px;
}

.bar {
    cursor:ew-resize;
    width:2px;
}
.Upper {
  text-transform:uppercase;
}
.Lower {
  text-transform:lowercase;
}
.Busy{
cursor:wait;
}

.ErrorPanel {
  width:16px;
  height:16px;
  background-image:url(../Images/exclamation.png);
}

.ErrorPopup {
  padding:5px;
  border:2px solid red;
  background:white;
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 14px; 
  color: #003366;  
  font-weight: bold;
}

