html, body {
   margin:0pt;
   padding:0pt;
   height:100%;
}



td {outline:0px;}

div{outline:0px;}

.Disabled{
    cursor:default;
}
/****
.ScreenPanel .ScreenWindowBrowser .unfocused *{
background:#BAC8D9 none repeat scroll 0 0;
color:gray;
}
****/
.unfocused .WindowTR {
    width:7px;
    height:29px;
    background: transparent url("../Images/unfocusedwindowtr.gif");
}
.unfocused .WindowTL {
    width:7px;
    height:29px;
    background: url("../Images/unfocusedwindowtl.gif");
}
.unfocused .WindowBR {
    width:7px;
    height:28px;
    background: url("../Images/unfocusedwindowbr.gif");
}
.unfocused .WindowBL {
    width:7px;
    height:28px;
    background: url("../Images/unfocusedwindowbl.gif");
}
.unfocused .WindowLeft {
    width:7px;
    height:100%;
    overflow:hidden;
    background: url("../Images/unfocusedwindowleft.gif");
}
.unfocused .WindowRight {
    width:7px;
    height:100%;
    overflow:hidden;
    background: url("../Images/unfocusedwindowright.gif") repeat-y;
}

.unfocused .Caption{
    background:url("../Images/unfocusedwindowheader.gif") repeat-x;
    height:29px;
}
.unfocused .StatusBar {
    background:url("../Images/unfocusedwindowfooter.gif") repeat-x;
    height:28px;
}

.SectionHeaderText{
    -moz-user-select: none;
	color:gray;
	padding:4px 0px 4px 0px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight:bold;
}

/************
.TableFooter{
    background:url("../Images/tablefooterbg.gif") repeat-x;
    height:26px;
    margin:0 8px 8px 8px;
    border-left:1px solid #8DB2E3;
    border-right:1px solid #8DB2E3;
}
******************/
.TableButtonFooter{
margin-left:-2px;
}
.ScreenLeftPanel{
    padding:2px;
    background:white;
}
.ScreenRightPanel{
    padding:2px;
    background:white;
}
.errorPopupLabel{
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size:12px;
    background:#e5f5f9;
    padding:0 7px 5px 0;
}
/*******TOP MENU BAR CSS***********/
.topMenuBar { 
    height:30px;
    width:100%;
    margin-bottom:8px;
    background:black url(../Images/topmenubg.gif) repeat-x;
}

.topMenuBarItem {
    margin:3px 0 0 8px;
    padding:4px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size:10px;
    font-weight : bold;
    color:white;
}
.Hover .topMenuBarItem, .Selected .topMenuBarItem{
    color:black;
    cursor:pointer;
    padding:3px;
    border:1px solid #333;
    background:#f0f0f0;
}

.topMenuContainer{
    border:1px solid #333;
    border-top:0;
    background:#f0f0f0 url('../Images/menu.gif') repeat-y;
    padding:4px;
}

.screen .topMenuContainer{
    border:1px solid #B5B8C8;
    border-top:0;
    background:#f0f0f0 url('../Images/menu.gif') repeat-y;
    padding:4px;
}

.topMenuItemMiddle{
    padding:0 0 0 8px;

}
.topMenuItemTitle{
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size:10px;
}

.disabled .topMenuItemTitle {
color:gray;
}

.topMenuItemDesc{
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size:9px;
    color:gray;
}
.topMenuIcon{
    width:20px;
}
.TopMenuRowContainer{
    width:200px;
    padding:1px;
}
.FavMenuRowContainer{
    width:200px;
}
.Hover .TopMenuRowContainer, .Hover .FavMenuRowContainer{
    cursor:pointer;
    padding:0;
    background:url('../Images/white-top-bottom.gif') #d9e8fb repeat-x 0px 0px;
    border:1px solid #aaccf6;
}
.FavoritesTitlePanel{
    background:#99bbe8 url("../Images/headersprite.gif") repeat-x;
    color:#486095;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size:11px;
    border:1px solid #99bbe8;
}
.EditSettings, .preferenceIcon, .favoritesMenuIcon, .logoutIcon, .fullLoginIcon, .quickEntryIcon, .secondEntryIcon, .trackingIcon, .projectIcon, .providerIcon, .organizationIcon, .worksheetCreationIcon,
.worksheetCompletionIcon, .addOrCancelIcon, .reviewAndReleaseIcon, .toDoIcon, .labelForIcon, .storageIcon, .QCIcon, .internalOrderIcon, .vendorOrderIcon, .kitOrderIcon, .inventoryReceiptIcon, 
.fillOrderIcon, .shippingIcon, .inventoryItemIcon, .instrumentIcon, .testIcon, .methodIcon,
.panelIcon, .QAEventIcon, .labSectionIcon, .analyteIcon, .dictionaryIcon, .auxiliaryPromptIcon, .barcodeLabelIcon, .standardNoteIcon, .trailerForTestIcon, .storageUnitIcon, .storageLocationIcon,
.systemVariableIcon, .scriptletIcon, .finalReportIcon, .sampleDataExportIcon, .loginLabelIcon, .referenceIcon, .arrowIcon, .pasteIcon, .copyIcon, .cutIcon, .applicationIcon, .systemUserIcon, .templateIcon{
    width:16px;
    height:16px;
}
.preferenceIcon{background:url('../Images/preferencebuttonimage.gif') no-repeat center;}
.EditSettings{background:url('../Images/editsettingsbuttonimage.png') no-repeat center;}
.favoritesMenuIcon{background:url('../Images/favoritesbuttonimage.gif') no-repeat center;}
.logoutIcon{background:url('../Images/logoutbuttonimage.gif') no-repeat center;}
.cutIcon{background:url('../Images/cutbuttonimage.gif') no-repeat center;}
.copyIcon{background:url('../Images/copybuttonimage.gif') no-repeat center;}
.pasteIcon{background:url('../Images/pastebuttonimage.gif') no-repeat center;}
.fullLoginIcon{background:url('../Images/fullloginbuttonimage.gif') no-repeat center;}
.quickEntryIcon{background:url('../Images/quickentrybuttonimage.gif') no-repeat center;}
.secondEntryIcon{background:url('../Images/secondentrybuttonimage.gif') no-repeat center;}
.trackingIcon{background:url('../Images/trackingbuttonimage.gif') no-repeat center;}
.projectIcon{background:url('../Images/addbuttonimage.gif') no-repeat center;}
.providerIcon{background:url('../Images/providerbuttonimage.gif') no-repeat center;}
.organizationIcon{background:url('../Images/organizationbuttonimage.gif') no-repeat center;}
.worksheetCreationIcon{background:url('../Images/worksheetcreationbuttonimage.gif') no-repeat center;}
.worksheetCompletionIcon{background:url('../Images/worksheetcompletionbuttonimage.gif') no-repeat center;}
.addOrCancelIcon{background:url('../Images/addorcancelIconbuttonimage.gif') no-repeat center;}
.reviewAndReleaseIcon{background:url('../Images/reviewandreleasebuttonimage.gif') no-repeat center;}
.toDoIcon{background:url('../Images/todobuttonimage.gif') no-repeat center;}
.labelForIcon{background:url('../Images/labelforbuttonimage.gif') no-repeat center;}
.storageIcon{background:url('../Images/storagebuttonimage.gif') no-repeat center;}
.QCIcon{background:url('../Images/qcbuttonimage.gif') no-repeat center;}
.internalOrderIcon{background:url('../Images/orderbuttonimage.gif') no-repeat center;}
.vendorOrderIcon{background:url('../Images/orderbuttonimage.gif') no-repeat center;}
.kitOrderIcon{background:url('../Images/orderbuttonimage.gif') no-repeat center;}
.fillOrderIcon{background:url('../Images/fillOrderButtonImage.gif') no-repeat center;}
.shippingIcon{background:url('../Images/shippingButtonImage.gif') no-repeat center;}
.inventoryReceiptIcon{background:url('../Images/inventoryReceiptButtonImage.gif') no-repeat center;}
.inventoryItemIcon {background:transparent url(../Images/inventorybuttonimage.gif) no-repeat scroll center;}
.instrumentIcon {background:transparent url(../Images/instrumentbuttonimage.gif) no-repeat scroll center;}
.testIcon {background:transparent url(../Images/testbuttonimage.gif) no-repeat scroll center;}
.methodIcon {background:transparent url(../Images/methodbuttonimage.gif) no-repeat scroll center;}
.spinnerIcon {width:16px; height:16px;background:transparent url(../Images/OSXspinnerGIF.gif) no-repeat scroll center;}
.panelIcon{
}
.QAEventIcon{
}
.labSectionIcon{
}
.analyteIcon{
}
.dictionaryIcon{
}
.auxiliaryPromptIcon{
}
.barcodeLabelIcon{
}
.standardNoteIcon{
}
.trailerForTestIcon{
}
.storageUnitIcon{
}
.storageLocationIcon{
}
.systemVariableIcon{
}
.scriptletIcon{
}
.finalReportIcon{
}
.sampleDataExportIcon{
}
.loginLabelIcon{
}
.summaryIcon{
}
.referenceIcon{
}
.arrowIcon{
   background:url('../Images/nextbuttonimage.gif') no-repeat center;
}
.systemUserIcon{background:url('../Images/systemuserbuttonimage.gif') no-repeat center;}
.applicationIcon{background:url('../Images/applicationbuttonimage.gif') no-repeat center;}
.templateIcon{background:url('../Images/templatebuttonimage.gif') no-repeat center;}
/*******END TOP MENU BAR***********/

.WhiteContentPanel{
    background:white;
    padding:4px;
}

.LeftSidePanel{
    background:white;
}


/*******General Button Class***********/
.Button{
    padding:2px;
}

.ButtonRightSide{
    margin:2px 0 0 0 ;
    width:2px;
    height:21px;
    background:url("../Images/screenbuttonrs.gif") no-repeat;
    cursor:default;
}
.disabled .ButtonRightSide{
    background:url("../Images/screenbuttonrsdisabled.gif") no-repeat;
}
.pressed .ButtonRightSide{
    background:url("../screenbuttonrspressed.gif") no-repeat;
}

.ButtonLeftSide{
    margin:2px 0 0 4px;
    width:2px;    
    height:21px;
    background:url("../Images/screenbuttonls.gif") no-repeat;
    cursor:default;
}
.disabled .ButtonLeftSide{
    background:url("../Images/screenbuttonlsdisabled.gif") no-repeat;
}

.pressed .ButtonLeftSide{
    background:url("../screenbuttonlspressed.gif") no-repeat;
}

.ButtonContent{
    margin:2px 0 0 0;
    padding: 2px 4px 0 4px;
    height:21px;
    cursor:default;
    background:url("../Images/screenbuttonhover.gif") repeat-x;
       -moz-user-select: none;
}
.Hover .ButtonContent{
    cursor:pointer;
}

.Pressed .ButtonContent {
    background: url(../screenbuttonpressed.gif) repeat-x;
    }
    
.disabled .ButtonContent{
    background:url("../Images/screenbuttonbgdisabled.gif") repeat-x;
}

.disabled .ScreenLabel{
color:gray;
}

.AddRowButtonImage, .RemoveRowButtonImage, .StandardNoteButtonImage, .groupRowButtonImage, .ungroupRowButtonImage{
    width:20px;
    height:20px;
}
.groupRowButtonImage{
    background:url("../Images/group.gif") no-repeat;
}
.disabled .groupRowButtonImage{
    background:url("../Images/groupdisabled.gif") no-repeat;
}
.ungroupRowButtonImage{
    background:url("../Images/ungroup.gif") no-repeat;
}
.disabled .ungroupRowButtonImage{
    background:url("../Images/ungroupdisabled.gif") no-repeat;
}
.RemoveRowButtonImage{
    background:url("../Images/removerowbuttonimage.gif") no-repeat;
}
.disabled .RemoveRowButtonImage{
    background:url("../Images/removerowbuttonimagedisabled.gif") no-repeat;
}

.AddRowButtonImage{
    background:url("../Images/addrowbuttonimage.gif") no-repeat;
}
.disabled .AddRowButtonImage{
    background:url("../Images/addrowbuttonimagedisabled.gif") no-repeat;
}

.StandardNoteButtonImage{
    background:url("../Images/note.gif") no-repeat;
}
.disabled .StandardNoteButtonImage{
    background:url("../Images/standardnotebuttonimagedisabled.gif") no-repeat;
}
.LookupButtonImage{
    background:url("../Images/querybuttonimage.gif") no-repeat;
}
.disabled .LookupButtonImage{
    background:url("../Images/querybuttonimagedisabled.gif") no-repeat;
}
.LookupButtonImage{
    width:16px;
    height:16px;
    padding:2px;
}
.FindButtonImage{
    width:20px;
    height:20px;
}
.FindButtonImage{
    background:url("../Images/page_find.gif") no-repeat;
}
.disabled .FindButtonImage{
    background:url("../Images/page_findDisabled.gif") no-repeat;
}
/*******End General Button Class***********/

/*******Fav header Button Class***********/
.FavHeader .Button{
    padding:2px;
}

.FavHeader .ButtonRightSide{
    margin:0;
    width:0;    
    height:0;
    background:none;
    cursor:default;
}
.FavHeader  .disabled .ButtonRightSide{
    background:url("../Images/screenbuttonrsdisabled.gif") no-repeat;
}

.FavHeader .ButtonLeftSide{
    margin:0;
    width:0;    
    height:0;
    background:none;
    cursor:default;
}
.FavHeader .disabled .ButtonLeftSide{
    background:url("../Images/screenbuttonlsdisabled.gif") no-repeat;
}

.FavHeader .ButtonContent{
    margin:0;
    width:16px;    
    height:16px;
    cursor:default;
    background:none;
       -moz-user-select: none;
}
.FavHeader .Hover .ButtonContent{
    cursor:pointer;
}
.FavHeader .disabled .ButtonContent{
    background:url("../Images/screenbuttonbgdisabled.gif") repeat-x;
}

/*******ScreenLookUp***********/
.ScreenLookUp{
border:1px solid #D8D8D8;
}
.ScreenLookUp .ScreenTextBox{
 border:none;
}
.LookupButtonImage{
    background:url("../Images/fieldlookup.png") no-repeat center center;
}
.disabled .LookupButtonImage{
    background:url("../Images/fieldlookupdisabled.png") no-repeat center center;
    cursor:default;
}
.CommentButtonImage{
    background:url("../Images/fieldcomment.png") no-repeat center center;
}
.disabled .CommentButtonImage{
    background:url("../Images/fieldcommentdisabled.png") no-repeat center center;
    cursor:default;
}
.AdvancedButtonImage{
    background:url("../Images/fieldadvanced.png") no-repeat center center;
}
.disabled .AdvancedButtonImage{
    background:url("../Images/fieldadvanceddisabled.png") no-repeat center center;
    cursor:default;
}
.LookupButtonImage, .CommentButtonImage, .AdvancedButtonImage{
    width:16px;
    height:16px;
    padding:2px;
    cursor:pointer;
    border-left:1px solid #D8D8D8;
}
.Screenlookup .Hover{
    background:#D8D8D8;
  //   background:black;

}
/*******Button Panel***********/
.ButtonPanelContainer{
    height:26px;
    background:url("../Images/buttonbarbg.gif") repeat-x;
}

.ButtonDivider{
    width:2px;
    height:13px;
    margin:6px 2px 0 2px;
    background:url("../Images/buttondivider.gif") no-repeat;
}

.ButtonPanelButton .ButtonContent {
    background:none;
}
.Hover .ButtonPanelButton .ButtonContent, .Pressed .ButtonPanelButton .ButtonContent {
    background:url("../Images/screenbuttonhover.gif") repeat-x;
    cursor:pointer;
}
.disabled .ButtonPanelButton .ButtonContent{
    background:none;
}
.ButtonPanelButton .ButtonContent .ScreenLabel{
    color:black;
    background:none;
}
.disabled  .ButtonPanelButton .ButtonContent .ScreenLabel{
    cursor:default;
    color:gray;
    background:none;
}

.ButtonPanelButton .ButtonRightSide{
     width:2px;
     background:none;
}
.Hover .ButtonPanelButton .ButtonRightSide, .Pressed .ButtonPanelButton .ButtonRightSide{
    background:url("../Images/screenbuttonrs.gif") no-repeat;
}
.Disabled .ButtonPanelButton .ButtonRightSide{
    background:none;
    cursor:default;
}
.ButtonPanelButton .ButtonLeftSide{
    background:none;
}
.Hover .ButtonPanelButton .ButtonLeftSide, .Pressed .ButtonPanelButton .ButtonLeftSide{
    background:url("../Images/screenbuttonls.gif") no-repeat;
}
.Disabled .ButtonPanelButton .ButtonLeftSide{
    background:none;
    cursor:default;
}
.QueryButtonImage, .PreviousButtonImage, .NextButtonImage, .AddButtonImage, .UpdateButtonImage, .DeleteButtonImage, .CommitButtonImage, .AbortButtonImage{
    width:20px;
    height:20px;
    background:url("../Images/note.gif") no-repeat;
}
.Disabled .QueryButtonImage, .Disabled .PreviousButtonImage, .Disabled .NextButtonImage, .Disabled .AddButtonImage, .Disabled .UpdateButtonImage, .Disabled .DeleteButtonImage, 
.Disabled .CommitButtonImage, .Disabled .AbortButtonImage, .Disabled .OptionsButtonImage{
    background:none;
    cursor:default;
}
.QueryButtonImage{background:url("../Images/querybuttonimage.gif") no-repeat;}
.disabled .QueryButtonImage{background:url("../Images/querybuttonimagedisabled.gif") no-repeat;}

.PreviousButtonImage{background:url("../Images/previousbuttonimage.gif") no-repeat;}
.disabled .PreviousButtonImage{background:url("../Images/previousbuttonimagedisabled.gif") no-repeat;}

.NextButtonImage{background:url("../Images/nextbuttonimage.gif") no-repeat;}
.disabled .NextButtonImage{background:url("../Images/nextbuttonimagedisabled.gif") no-repeat;}

.AddButtonImage{background:url("../Images/addbuttonimage.gif") no-repeat;}
.disabled .AddButtonImage{background:url("../Images/addbuttonimagedisabled.gif") no-repeat;}

.UpdateButtonImage{background:url("../Images/updatebuttonimage.gif") no-repeat;}
.disabled .UpdateButtonImage{background:url("../Images/updatebuttonimagedisabled.gif") no-repeat;}

.DeleteButtonImage{background:url("../Images/deletebuttonimage.gif") no-repeat;}
.disabled .DeleteButtonImage{background:url("../Images/deletebuttonimagedisabled.gif") no-repeat;}

.CommitButtonImage{background:url("../Images/commitbuttonimage.gif") no-repeat;}
.disabled .CommitButtonImage{background:url("../Images/commitbuttonimagedisabled.gif") no-repeat;}

.AbortButtonImage{background:url("../Images/abortbuttonimage.gif") no-repeat;}
.disabled .AbortButtonImage{background:url("../Images/abortbuttonimagedisabled.gif") no-repeat;}

.OptionsButtonImage{background:url("../Images/menudown.gif") no-repeat;margin:4px 0px 4px 4px; width:8px; height:8px;}
.disabled .OptionsButtonImage{background:url("../Images/menudown.gif.gif") no-repeat;}

.duplicateRecordIcon{
    width:16px;
    height:16px;
}
.duplicateRecordIcon{background:url('../Images/quickentrybuttonimage.gif') no-repeat center;}
/********* end button panel **********/


/************ AtoZ button ***************/
.smallButton .ButtonContent, .FavHeaderButton .ButtonContent{
    margin:0 0 0 0;
    padding:0 0 0 0;
    width:1em;
    height:16px;
    text-align:center;
    cursor:default;
    background:none;
}
.FavHeaderButton .ButtonContent{
    width:100%;
    height:16px;
}

.Hover .smallButton .ButtonContent, .Pressed .smallButton .ButtonContent, .Hover .FavHeaderButton .ButtonContent {
    cursor:pointer;
    background:url("../Images/screenbuttonbgsmall.gif") repeat-x;
}
.Pressed .smallButton .ButtonContent{cursor:default;}

.smallButton .ButtonRightSide, .FavHeaderButton .ButtonRightSide{
    margin:0 0 0 0;
    width:2px;
    height:16px;
    cursor:default;
    background:none;
}
.smallButton .ButtonLeftSide, .FavHeaderButton .ButtonLeftSide{
    margin:0 0 0 0;
    width:2px;
    height:16px;
    cursor:default;
    background:none;
}
.Hover .smallButton .ButtonRightSide, .Pressed .smallButton .ButtonRightSide, .Hover .FavHeaderButton .ButtonRightSide{
    cursor:pointer;
    background:url("../Images/screenbuttonrssmall.gif") no-repeat;
}
.Pressed .smallButton .ButtonRightSide, .Current .smallButton .ButtonRightSide{
    cursor:default;
}

.Hover .smallButton .ButtonLeftSide, .Pressed .smallButton .ButtonLeftSide,
.Hover .FavHeaderButton .ButtonLeftSide{
    cursor:pointer;
    background:url("../Images/screenbuttonlssmall.gif") no-repeat;
}
.Pressed .smallButton .ButtonLeftSide,  .Current .smallButton .ButtonLeftSide{cursor:default;}
.disabled .smallButton .ButtonContent {    background:none;
cursor:default;}

/************ end AtoZ button ***************/

/************ Window border ***************/
.WindowPanel td table td{
    height:100%;
}

.CloseButton {
    background:url("../Images/close.png");
    width:20px;
    height:20px;
    cursor:pointer;
}

.MinimizeButton {
   padding-top:5px;
   background:url("../Images/minimize.gif") no-repeat;
   width:20px;
   height:20px;
   cursor:pointer;
}

.AppBackground {
    background:#3D71B8 url(../Images/desktop.jpg) no-repeat scroll left top;
}

.WindowTR {
    width:7px;
    height:29px;
    background: transparent url("../Images/windowtr.gif");
}
.WindowTL {
    width:7px;
    height:29px;
    background: url("../Images/windowtl.gif");
}
.WindowBR {
    width:7px;
    height:28px;
    background: url("../Images/windowbr.gif");
}
.WindowBL {
    width:7px;
    height:28px;
    background: url("../Images/windowbl.gif");
}
.WindowLeft {
    width:7px;
    height:100%;
    overflow:hidden;
    background: url("../Images/windowleft.gif");
}
.WindowRight {
    width:7px;
    height:100%;
    overflow:hidden;
    background: url("../Images/windowright.gif") repeat-y;
}

.Caption{
    background:url("../Images/windowheader.gif") repeat-x;
    height:29px;
    cursor:move;
}
.StatusBar {
    background:url("../Images/windowfooter.gif") repeat-x;
    height:28px;
}
/*PopUP panel*/
.ErrorWindow .middle{
background:#e5f5f9;;
padding:0px;
border:0px;
}

.ErrorWindow .topRight {
    width:5px;
    height:5px;
    background: transparent url("../Images/popuptr.gif") no-repeat right top;
}

.ErrorWindow .middleRight {
    width:5px;
    height:100%;
    background:url("../Images/popupright.gif") repeat-y right;
}
.ErrorWindow .bottomRight {
    background:url("../Images/popupbr.gif") no-repeat right bottom;
    width:5px;
    height:5px;
}
.ErrorWindow .bottomCenter {
    background:url("../Images/popupbottom.gif") repeat-x bottom;
    height:5px;
}
.ErrorWindow .bottomLeft {
    width:5px;
    height:5px;
    background:url("../Images/popupbl.gif") no-repeat left bottom;
}
.ErrorWindow .middleLeft {
    width:5px;
    height:100%;
    background: url("../Images/popupleft.gif") repeat-y left;
}
.ErrorWindow .topLeft {
    width:5px;
    height:5px;
    background: url("../Images/popuptl.gif") no-repeat left top;
}
.ErrorWindow .topCenter{
    background:url("../Images/popuptop.gif") repeat-x top;
    height:5px;
}
/*ErrorWindow end*/

.LeftMenuPanePanelClosed {
    height:100%;
    width:5px;
    background:white url("../Images/buttonbarbg.gif") repeat-x;
}

.LeftMenuPanePanelOpen {
    height:100%;
    background:white;
    border-right: 1px solid #98c0f4;
}

.LeftMenuPanePanelDiv{
    width:6px;
    height:100%;
    cursor:pointer;
}
.LeftMenuPanePanelClosed .LeftMenuPanePanelDiv{
    margin-right:1px;
    background:url("../Images/openleftbar.gif") no-repeat center;
}
.LeftMenuPanePanelOpen .LeftMenuPanePanelDiv{
    margin-left:1px;
    background:url("../Images/closeleftbar.gif") no-repeat center;
}

.StatusImage {
    background-image:url("../Images/exclamation.png");
    height:16px;
    width:16px;
}
    
.ScreenMenuLabel{
    font-family:Verdana;
    font-size:12px;
}

.ScreenWindowLabel{
    color:#486095;
    font-family:Arial,Helvetica,sans-serif;
    font-size:12px;
    font-weight:bold;    
    padding-left:6px;
    padding-top:2px;
       -moz-user-select: none;
}

.ScreenMenuList {
    border:1px solid #99bbe8;
    margin:0 8px 8px 8px;
    background:white;
}

.ScreenMenuLabel {
    width:100%;
}

.ListItem{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    cursor:pointer;
    color:#276cff;
    padding:4px;
}
.Hover .ListItem{
    color:#000000;
}

.ListSubItem{
    cursor:pointer;
    color:#276cff;
    padding:4px;
}
.Hover .ListSubItem{
    color:#000000;
}

.ListHeader {
    color:#486095;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size:11px;
    padding:0 8px 0 4px;
    height:18px;
    background:url("../Images/headersprite.gif") repeat-x;
    border-bottom:1px solid #99bbe8;
}

.ScreenTable {
    border:1px solid #B5B8C8;
    background:white;
    margin:4px;
}

.TitlePanel{
    color:#486095;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size:11px;
    padding:0 8px 0 4px;
    width:100%;
    height:18px;
    background:url("../Images/headersprite.gif") repeat-x;
    border-bottom:1px solid #99bbe8;
       -moz-user-select: none;
}

.ScreenLeftTable{
    border:1px solid #99bbe8;
}

.ScreenWindowLabel .MenuText{
    border-bottom: none;
    color: white;
    font-weight:bold;
    padding-left:3px;
}

.ScreenTable .TitlePanel .gwt-Label{
    color:#486095;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size:11px;
    margin:1px 0 0 4px;
}
/*******TAB PANEL CSS***********/
.ScreenTab{
    margin:4px;
}

.gwt-TabBar {
    height:19px;
}

.gwt-TabBarFirst{
    background:url('../Images/tabfirst.gif') no-repeat;
}   

.gwt-TabBar .gwt-TabBarItem {
    color:#486095;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size:11px;
    height:19px;
    padding:0 8 0 4;
    cursor:pointer;
    background:url('../Images/tab.gif') no-repeat right;
       -moz-user-select: none;
}

.gwt-TabBar .gwt-TabBarItem-selected {
    cursor:default;
    background:url('../Images/selectedtab.gif') no-repeat right;
       -moz-user-select: none;
}

.gwt-TabPanelBottom{
    background:#fbfbfb;
    border:1px solid #8db2e3;
    padding:4px;
}
.gwt-TabBar .gwt-TabBarRest {
    background:white;
}
/*******END TAB PANEL CSS***********/

/******* header dropdown ***********/

.HeaderDropdownButton{
    width:16px;
    height:18px;/**
    border-bottom: 1px solid #d8d8d8;**/
    background: url(../Images/trigger.gif) 2px -1px no-repeat;
}

/*******autodropdown css***********/
.AutoDropdown{
    height:19px;
}
.AutoDropdownButton{
    width:16px;
    height:19px;
    border-bottom: 1px solid #d8d8d8;
    background: url(../Images/trigger.gif) 0px 0px no-repeat;
}
.AutoDropdown .Hover{
    cursor:pointer;
    border-bottom: 1px solid  #7eadd9;
    background: url(../Images/trigger.gif) -16px 0px no-repeat;
}
.AutoDropdown .Selected{
    border-bottom: 1px solid  #7eadd9;
    background: url(../Images/trigger.gif) -64px 0px no-repeat;
}
.AutoDropdown .Pressed{
    border-bottom: 1px solid #d8d8d8;
    background: url(../Images/trigger.gif) -48px 0px no-repeat;
}
.AutoCompletePopup{
    background:#FFFFFF;
    border: 1px solid #7eadd9;
}
.AutoDropdown .TextboxSelected{
    border:1px solid #7eadd9;
    color:#000000;
    background:#ffffff;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
    height:20px;
    cursor:default;
}
.AutoDropdown .TextboxUnselected{
    border:1px solid #d8d8d8;
    color:#000000;
    background:#ffffff;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
    height:20px;
    cursor:default;
}

.TableAutoDropdown .TextboxSelected{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:10px;
    border: 0px;
    cursor:default;
}
.TableAutoDropdown .TextboxUnselected{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:10px;
    border: 0px;
    cursor:default;
}

.TableAutoDropdownButton{
width:16px;
height:15px;
border-bottom: 1px solid #d8d8d8;
background: url(../Images/trigger.gif) 0px 0px no-repeat;
}
.TableAutoDropdown .Hover{
cursor:pointer;
background: url(../Images/trigger.gif) -16px 0px no-repeat;
}
.TableAutoDropdown .Selected{
background: url(../Images/trigger.gif) -64px 0px no-repeat;
}
.TableAutoDropdown .Pressed{
background: url(../Images/trigger.gif) -48px 0px no-repeat;
}
/*******end autodropdown css********/
.ScreenSplit {
    background:#383838;
}

.ScreenSplit .hsplitter{
    width:3px;
    background:#f0f1f6;
    cursor:ew-resize;
    height:100%
}

.ScreenSplit .vsplitter{
    width:100%;
    background:#f0f1f6;
    cursor:s-resize;
    height:3px;
}

.ScreenAuto {
    border:1px solid gray;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
    cursor:default;	
}

.AutoCompleteChoices select {
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size:11px;
    background:#ffffee;
}

/***************** Calendar *******************/
.Calendar{
height:19px;
}

.CalendarButton{
width:14px;
height:19px;
border-bottom: 1px solid #d8d8d8;
background: url(../Images/date-trigger.gif) 0px 0px no-repeat;
}
.ScreenCalendar .Hover{
cursor:pointer;
border-bottom: 1px solid  #7eadd9;
background: url(../Images/date-trigger.gif) -14px 0px no-repeat;
}
.ScreenCalendar .Selected{
border-bottom: 1px solid  #7eadd9;
background: url(../Images/date-trigger.gif) -56px 0px no-repeat;
}
.ScreenCalendar .Pressed{
border-bottom: 1px solid #d8d8d8;
background: url(../Images/date-trigger.gif) -28px 0px no-repeat;
}

.ScreenCalendar .TextboxSelected{
    border:1px solid #7eadd9;
    color:#000000;
    background:#ffffff none;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
    height:20px;
    cursor:default;
}
.ScreenCalendar .TextboxUnselected{
    border:1px solid #d8d8d8;
    color:#000000;
    background:#ffffff;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
    height:20px;
    cursor:default;
}
/************************ End Calendar ***************************/

.ScreenCheck {
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
}

.ScreenDragSelect {
    background:white;
}

.locked{
    -moz-user-select:none;
}
.WeekPicker{
padding:8px;
padding-bottom:0;
}
/************** Drag & Drop ************/

.DragSelector{
   border:1px solid #99bbe8;
    margin-right:8px;
}
.ScreenDragList {
    -moz-user-select:none;
}
.ScreenDragList td table{
    background:#d8d8d8;
}
.AltTableRow .AltTableRow, .TableRow .TableRow{
    padding:1px;
    height:18px;
    cursor:move;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size:10px;
    border:1px solid #99bbe8;
    border-left:0;
}
.Dragstatus{
    width:20px;
    height:20px;
    border:1px solid #99bbe8;
    border-right:0;
}
.Drop{
    background:url('../Images/commitbuttonimage.gif') no-repeat center;
}
.NoDrop{
    background:url('../Images/stop.gif') no-repeat center;
}

.ScreenDragList .Hover{
    background:#d9e8fb;
    cursor:move;
}

/************** end drag & drop ************/


.ScreenError {
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
    color:#fb8c3c;
}

.ScreenHTML img{
    /*background-image:url("../Images/listheadergrad_obsidian.gif");
    border:solid 1px #c5cad0;*/
    cursor:pointer;
/*    margin-right:2px;*/
}

.ScreenImage {
    margin:2px;
    cursor:pointer;
}

.ScreenMaskedBox{
    border:1px solid #d8d8d8;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
    height:20px;
    cursor:default;
}

.ScreenOption{

}

.ScreenPassword {

}

.ScreenRadio {
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
}

.ScreenTabBrowser{

}

.Focus .ScreenTextArea, .Focus .ScreenTextBox, .Focus .ScreenMaskedBox{
    border:1px solid #7eadd9;
}

.ScreenTextArea{
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    border:1px solid #d8d8d8;
    font-size:11px;
    height:150px;
}

.ScreenTextBox{
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
    height:20px;
    border:1px solid #d8d8d8;
    cursor:default;
}

.ScreenTextboxDisplayOnly{
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
    height:20px;
    background-color:#EEEEEE;
    border:1px solid #d8d8d8;
    cursor:default;
}

.WindowDragPanel {
    background:#bac8d9;
    border:1px dashed gray;
    opacity:0.5;
    filter: alpha(opacity=50);
}

.Inactive {
    cursor:default;
    color:#d8d8d8;
}


.ScreenStack {
    width:100%;
    background:#e6eaf6;
}
.gwt-button{
border:none;
}

.gwt-StackPanelItem {
    font-family:Verdana;
    font-size:12px;
    cursor:pointer;
    border-bottom:1px solid #73d216;
    background:white;
}
.gwt-StackPanelItem-Selected {
    background:#e6eaf6;
}
.ScreenLabel{
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size:11px;
}
.StatusBar a.header{
    text-decoration:none;
}
.StatusBar .ScreenWindowLabel {
    color:#486095;
    font-family:Arial,Helvetica,sans-serif;
    font-size:12px;
    font-weight:bold;    
    text-align:left;
}

.VerticalSpacer{
   height:5px;
}
/********   End Input  Form ***********/
.Form {
    font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size:11px;
        margin:4px 8px ;
}

.subform{
    border:1px solid #8DB2E3;
    margin:4px 4px ;
}

.subformButtons{
    text-align:right;
}

.subform .Form {
margin:0px;
}

.FormTitle{
text-align:center;
    color:#486095;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size:11px;
 //   padding:0 8px 0 4px;
    height:18px;
background:transparent url(../Images/buttonbarbg.gif) repeat-x scroll 0 0;

//   border:1px solid #99bbe8;
 //   border-bottom:0;
//    margin-right:8px;
}
.Prompt {
   -moz-user-select: none;
	color:gray;
	padding:2px 0 2px 2px;
	text-align:right;
	vertical-align:top;
}
.CondensedPrompt {
   -moz-user-select: none;
	color:gray;
	text-align:right;
	vertical-align:top;
}
.CheckboxPrompt {
   -moz-user-select: none;
	color:gray;
	padding:2px 4px 2px 5px;
	text-align:right;
	vertical-align:top;
}
.TopPrompt {
  -moz-user-select:none;
   color:gray;
   vertical-align:top;
}
/********   End Input  Form ***********/
fieldSet {
    border:1px solid #b5b8c8;
    padding: 2px;
    margin:-1px 8px 8px 8px;
    }

legend {
}

.LegendTitle {
   -moz-user-select: none;
   font-weight: bold;
   color: #486095;
   padding:2px 4px 2px 2px;
   text-align:right;
   vertical-align:top;
}


.Panels{
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:11px;
    vertical-align:text-bottom;
}
.AppMessage{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	color: #333333; 
	font-weight: bold;
	background:url(../Images/goldbarno.jpg);
}
.invisible{
	visibility:hidden;
}
.NavLinks {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	color: #003366; 
	font-weight: bold;
	cursor:pointer;
}	
.focused {
	background:#fefefe;
}
.locked {
	-moz-user-select:none;
	user-select:none;
}
.button-grid {
    text-align:center;
    width:100%;
}

.ButtonBar {
}

.ScreenTree {
    width:100%;
}
.ScreenTree .gwt-TreeItem{
    cursor:pointer;
    font-family:Verdana;
}
.ScreenTree .gwt-TreeItem-selected{
    background:#ffe290;
}
.TabBrowser {
}
.TabBrowser .gwt-TabBar{
    border:none;
    padding-bottom:0px;
}
.TabBrowser .gwt-TabBar .gwt-TabBarItem {
    width:175px;
    cursor:pointer;	
    margin-right:5px;
    border-bottom:0px solid white;
}
.TabBrowser .gwt-TabBar .gwt-TabBarItem-selected {
    border:1px solid #73d216;
    border-bottom:0px solid white;
    background-image:url(../Images/hashlines.jpg);
}
.TabBrowser .gwt-TabPanelBottom {
    padding-top:5px;
    padding-left:5px;
    border:1px solid #73d216;
    background:white;
}

.TabBrowser .gwt-TabBar .gwt-TabBarFirst{
    width:0px;
}

.bar {
    cursor:ew-resize;
    width:2px;
}
.Upper {
  text-transform:uppercase;
}
.Lower {
  text-transform:lowercase;
}
.Busy{
cursor:wait;
}

.ErrorPanel {
  width:16px;
  height:16px;
  background-image:url(../Images/exclamation.png);
}

.ErrorPanelHidden {
  width:16px;
  height:16px;
}

.BusyPanel {
  width:16px;
  height:16px;
  background-image:url(../Images/OSXspinnerGray.gif);
}

.ErrorPopup {
  padding:5px;
  border:2px solid red;
  background:white;
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 14px; 
  color: #003366;  
  font-weight: bold;
}

.MessagePopup {
  padding:5px;
  border:2px solid red;
  background:white;
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 14px; 
  color: #003366;  
  font-weight: bold;
}

.NotesText {
   color:#000000;
   font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
   font-size:11px;
   font-weight:normal;
   vertical-align:top;
}

.strike { text-decoration: line-through; }

.ScreenLoad{
  cursor:wait;
}

.NotesPanel{overflow-y: scroll;
}

.notesPanelContainer{
padding-right:10px;
padding-bottom:4px;
}

.notesSubjectText {
color:#486095;
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
font-weight:bold;
}

.MenuUp {
   height:8px;
   width:100%;
   border:1px solid gray;
   background:#d8d8d8 url('../Images/menuup.gif') center center no-repeat;
   cursor:pointer;
}
 
.MenuDown {
   height:8px;
   width:100%;
   border:1px solid gray;
   background:#d8d8d8 url('../Images/menudown.gif') center center no-repeat;
   cursor:pointer;
}

.MenuDisabled {
   border:none;
   margin:1px;
   background:none;
}

.Checked {
  height:13px;
  width:13px;
  background:url("../Images/apply.png") left center no-repeat;
    cursor:pointer;
}

.Unchecked {
  height:13px;
  width:13px;
  background:url("../Images/unapply.png") left center no-repeat;
  cursor:pointer;
}

.Unknown {
  height:13px;
  width:13px;
  background:url("../Images/unknow.png") left center no-repeat;
    cursor:pointer;
}


.FavoritesHeader {
    background:lightblue;
    width:100%;	
}

.DotsButton {
	width:14px;
	height:19px;
	cursor:pointer;
	background: url(../Images/dotdotdot.gif) 0px 0px no-repeat;
}

.DropPositioner {
    background:green;
}

/**
rich text css
***/
.GlassPanel{
    background: url(../Images/trans.gif);
}

.ModalPanel{
	    background: url(../Images/transgrey.png);
	    filter:alpha(opacity=50),
}

.Italic {
    width:20;
    height:20;
    background: url(../Images/italic.gif);
}

.Bold {
    width:20;
    height:20;
    background: url(../Images/bold.gif);
}

.Underline{
    width:20;
    height:20;
    background: url(../Images/underline.gif);
}

.Subscript{
    width:20;
    height:20;
    background: url(../Images/subscript.gif);
}

.Superscript{
    width:20;
    height:20;
    background: url(../Images/superscript.gif);
}

.JustifyLeft{
    width:20;
    height:20;
    background: url(../Images/justifyLeft.gif);
}

.JustifyCenter{
    width:20;
    height:20;
    background: url(../Images/justifyCenter.gif);
}

.JustifyRight{
    width:20;
    height:20;
    background: url(../Images/justifyRight.gif);
}

.StrikeThrough{
    width:20;
    height:20;
    background: url(../Images/strikeThrough.gif);
}

.Indent{
    width:20;
    height:20;
    background: url(../Images/indent.gif);
}

.Outdent{
    width:20;
    height:20;
    background: url(../Images/outdent.gif);
}

.HR{
    width:20;
    height:20;
    background: url(../Images/hr.gif);
}

.OL{
    width:20;
    height:20;
    background: url(../Images/ol.gif);
}

.UL{
    width:20;
    height:20;
    background: url(../Images/ul.gif);
}

.InsertImage{
    width:20;
    height:20;
    background: url(../Images/insertImage.gif);
}

.CreateLink{
    width:20;
    height:20;
    background: url(../Images/createLink.gif);
}

.RemoveLink{
    width:20;
    height:20;
    background: url(../Images/removeLink.gif);
}

.RemoveFormat{
    width:20;
    height:20;
    background: url(../Images/removeFormat.gif);
}


