
.Table {
	background: #d8d8d8;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	table-layout : fixed;	
	spacing : 0px;
	padding : 0;
	border-collapse : collapse;
	-webkit-user-select : none;
	-moz-user-select : none;
	user-select : none;	
	border : 0px solid white;
}

.Table tr {
	background: white;
}


.Table td {
	overflow : hidden;
	white-space : nowrap;
	border-color: #FFFFFF #EDEDED #EDEDED;
	border-style: solid;
	border-width: 0px 1px 1px 0px;
	color: black;
	cursor: pointer;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding: 0px 2px 0px 2px;
}
.Table td.InputError {
      border-bottom : 1px red dashed;
}
.Table td.InputWarning {
      border-bottom : 1px #f5d852 dashed;
}
.Table tr.Selection td.InputError {
      border-bottom : 1px red dashed;
}
.Table tr.Selection {
background: url("../Images/buttonbarbg.gif") repeat-x scroll 0 0 transparent;
}
.Table tr.Selection td{
	border-color: #FFFFFF #A9BFD3 #A9BFD3;
	border-style: solid;
	border-width: 0px 1px 1px 0px;
}


.Table tr.SubHeader td{
	border: 1px solid #B5B8C8;
	border-right: 1px solid grey;
	border-width: 1 1 1 0;
	background: #B5B8C8;
	color: white;
}

.Header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	table-layout : fixed;	
	spacing : 0px;
	padding : 0;
	border-collapse : collapse;
    -webkit-user-select : none;
	-moz-user-select : none;
	user-select : none;
}

.Header tr {
	/*background:  #d8d8d8;*/
}

.Header td {
	overflow : hidden;
	white-space : nowrap;
	border-color: #B5B8C8;
	border-style: solid;
	border-width: 0px 0px 0px 1px;
	padding : 0px 2px 4px 2px;
	color: grey;
    background: transparent url("../Images/headersprite.gif") 0 1px repeat-x;
	cursor: pointer;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.Header td.First {
	border-width: 0px 0px 0px 0px;
}

.Header td.Filtered {
	text-decoration : underline;
}

.Header td.Sorted {
	font-style : italic;
}

.Header td.ResizeCol {
	cursor : col-resize;
}

.DropdownTable {
	background: #d8d8d8;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	table-layout : fixed;	
	spacing : 1px;
	padding : 0;
	border-collapse : collapse;
	
}

.DropdownTable tr {
	background: white;
}

.DropdownTable tr.Selection {
    background:#f0f0f0;
}

.DropdownTable td {
	overflow : hidden;
	white-space : nowrap;
	color: black;
	cursor: pointer;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding: 1px 1px 0px;
}

.CellContainer {
	border:1px solid #63B159;
	padding : 0px 0px 0px 0px;
	margin-left : -2px;
		
}
.TableTextBox {
	border : none;
	cursor:default;
	font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-size:10px;
	font-weight:normal;
	outline : none;
	padding-top:3px;
}

.TableTextBox.Focus {
	border : none;
}

.FilterButton {
    width:16px;
    height:19px;
    border-bottom: 1px solid #d8d8d8;
    background: url(../Images/trigger.gif) 0px 0px no-repeat;
}


.DropdownPopup{
    /*border:none;*/
    overflow:hidden;
    margin-left : 0;
}

.TableDropdown {
	spacing : 0;
	padding : 0px;
	margin-left : -2px;
}

.TableDropdown .AutoDropdownButton{
    width:16px;
    //height:17px;
    background: url(../Images/trigger.gif) 0px 0px no-repeat;
    margin-left : -2px;
}

.TableDropdown .TextboxSelected{
    border:none;
    color:#000000;
    background:#ffffff;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:10px;
    cursor:default;
}
.TableDropdown .TextboxUnselected{
    border:none;
    color:#000000;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:10px;
    cursor:default;
}

.TableCalendar {
	spacing : 0;
	padding : 0px;
	margin-left : -2px;
}

.TableCalendar .CalendarButton{
    width:16px;
    //height:17px;
    background: url(../Images/date-trigger.gif) 0px 0px no-repeat;
    margin-left : -2px;
}

.TableCalendar .TextboxSelected{
    border:none;
    color:#000000;
    background:#ffffff;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:10px;
    cursor:default;
}

.TableCalendar .TextboxUnselected{
    border:none;
    color:#000000;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:10px;
    cursor:default;
}

.WarnIcon {
	width : 16px;
	height : 17px;
	background: url(../Images/bullet_yellow.png) 0px 0px no-repeat;
}

.ErrorIcon {
	width : 16px;
	height : 17px;
	background: url(../Images/bullet_red.png) 0px 0px no-repeat;
}

.Tree {
	background: #d8d8d8;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	table-layout : fixed;	
	spacing : 0px;
	padding : 0;
	border-collapse : collapse;
	-webkit-user-select : none;
	-moz-user-select : none;
	user-select : none;	
}

.Tree tr {
	background: white;
}

.Tree tr.Selection {
    background:#f0f0f0;
}

.Tree td {
	overflow : hidden;
	white-space : nowrap;
	border : none;
	color: black;
	cursor: pointer;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding: 0px 2px 0px 2px;
}

.Tree td.InputError {
      border-bottom : 1px red dashed;
}

.Tree td.InputWarning {
      border-bottom : 1px #f5d852 dashed;
}

.TreeCell {  
   height:18px;
   overflow:hidden;
   color: black;
   table-layout : fixed;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 10px;
   border-bottom:1px solid #FFFFFF;
 }
 
.TreeCell td {
	border : none;
}

.Tree tr.Selection .TreeCell tr {
  background:#f0f0f0;
}

.Tree tr.DropOnRow .TreeCell tr {
	background:#defadc;
}

.GroupIcon {
	width : 18px;
	height : 18px;
	background: url(../Images/group.gif) 0px 0px no-repeat;
}

.LeafIcon {
	width : 18px;
	height : 18px;
	background: url(../Images/report.png) 0px 0px no-repeat;
}

.treeClosedImage{
        background:transparent url(../Images/tree+.gif) no-repeat center center;
        height:18px;
        width:18px;
        cursor:pointer;
}

.treeOpenImage{
        background:transparent url(../Images/tree-.gif) no-repeat center center;
        height:18px;
        width:18px;
        cursor:pointer;
}
	