
.Table {
	background: #d8d8d8;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	table-layout : fixed;	
	spacing : 0px;
	padding : 0;
	border-collapse : collapse;
	-webkit-user-select : none;
	-moz-user-select : none;
	user-select : none;	
}

.Table tr {
	background: white;
}

.Table tr.Selection {
    background:#f0f0f0;
}

.Table td {
	overflow : hidden;
	white-space : nowrap;
	border-color: #FFFFFF #EDEDED #EDEDED;
	border-style: solid;
	border-width: 0px 1px 1px 0px;
	color: black;
	cursor: pointer;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding: 0px 2px 0px 2px;
}	

.Header {
	background: #d8d8d8;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	table-layout : fixed;	
	spacing : 0px;
	padding : 0;
	border-collapse : collapse;
    -webkit-user-select : none;
	-moz-user-select : none;
	user-select : none;
}

.Header tr {
	background:  #d8d8d8;
}

.Header td {
	overflow : hidden;
	white-space : nowrap;
	border-color: #FFFFFF;
	border-style: solid;
	border-width: 0px 0px 0px 1px;
	padding : 0px 2px 0px 2px;
	color: black;
	cursor: pointer;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.Header td.ResizeCol {
	cursor : col-resize; 
}

.DropdownTable {
	background: #d8d8d8;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	table-layout : fixed;	
	spacing : 1px;
	padding : 0;
	border-collapse : collapse;
	
}

.DropdownTable tr {
	background: white;
}

.DropdownTable td {
	overflow : hidden;
	white-space : nowrap;
	color: black;
	cursor: pointer;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding: 1px 1px 0px;
}

.TableTextBox {
	border:1px solid gold;
	cursor:default;
	font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-size:10px;
	font-weight:normal;
	outline : none;
	padding : 0px 0px 0px 0px;
	margin-left : -2px;
}	

.FilterButton {
    width:16px;
    height:19px;
    border-bottom: 1px solid #d8d8d8;
    background: url(../Images/trigger.gif) 0px 0px no-repeat;
}