
.Table {
	background: #d8d8d8;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	table-layout : fixed;	
	spacing : 1px;
	padding : 0;
	border-collapse : collapse;
	
}

.Table tr {
	background: white;
}

.Table td {
	overflow : hidden;
	white-space : nowrap;
	border-color: #FFFFFF #EDEDED #EDEDED;
	border-style: solid;
	border-width: 1px 1px 1px 0px;
	color: black;
	cursor: pointer;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding: 1px 1px 0px;
}

.Header {
	background: #d8d8d8;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	table-layout : fixed;	
	spacing : 1px;
	padding : 0;
	border-collapse : collapse;
}

.Header tr {
	background: transparent url("../Images/headersprite.gif") repeat-x;	
}

.Header td {
	overflow : hidden;
	white-space : nowrap;
	border-color: #FFFFFF #EDEDED #EDEDED;
	border-style: solid;
	border-width: 1px 1px 1px 0px;
	color: black;
	cursor: pointer;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding: 1px 1px 0px;	
}

.DropdownTable {
	background: #d8d8d8;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	table-layout : fixed;	
	spacing : 1px;
	padding : 0;
	border-collapse : collapse;
	
}

.DropdownTable tr {
	background: white;
}

.DropdownTable td {
	overflow : hidden;
	white-space : nowrap;
	color: black;
	cursor: pointer;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding: 1px 1px 0px;
}