
.Table {
	background: #d8d8d8;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	table-layout : fixed;	
	spacing : 0px;
	padding : 0;
	border-collapse : collapse;
	-webkit-user-select : none;
	-moz-user-select : none;
	user-select : none;	
}

.Table tr {
	background: white;
}

.Table tr.Selection {
    background:#f0f0f0;
}

.Table td {
	overflow : hidden;
	white-space : nowrap;
	border-color: #FFFFFF #EDEDED #EDEDED;
	border-style: solid;
	border-width: 0px 1px 1px 0px;
	color: black;
	cursor: pointer;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding: 0px 2px 0px 2px;
}	

.Header {
	background: #d8d8d8;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	table-layout : fixed;	
	spacing : 0px;
	padding : 0;
	border-collapse : collapse;
    -webkit-user-select : none;
	-moz-user-select : none;
	user-select : none;
}

.Header tr {
	background:  #d8d8d8;
}

.Header td {
	overflow : hidden;
	white-space : nowrap;
	border-color: #FFFFFF;
	border-style: solid;
	border-width: 0px 0px 0px 1px;
	padding : 0px 2px 0px 2px;
	color: black;
	cursor: pointer;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.Header td.ResizeCol {
	cursor : col-resize; 
}

.DropdownTable {
	background: #d8d8d8;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	table-layout : fixed;	
	spacing : 1px;
	padding : 0;
	border-collapse : collapse;
	
}

.DropdownTable tr {
	background: white;
}

.DropdownTable td {
	overflow : hidden;
	white-space : nowrap;
	color: black;
	cursor: pointer;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding: 1px 1px 0px;
}

.CellContainer {
	border:1px solid gold;
	padding : 0px 0px 0px 0px;
	margin-left : -2px;
		
}
.TableTextBox {
	border : none;
	cursor:default;
	font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-size:10px;
	font-weight:normal;
	outline : none;
}	

.FilterButton {
    width:16px;
    height:19px;
    border-bottom: 1px solid #d8d8d8;
    background: url(../Images/trigger.gif) 0px 0px no-repeat;
}


.DropdownPopup{
    /*border:none;*/
    overflow:hidden;
}

.TableDropdown {
	spacing : 0;
	padding : 0px;
	margin-left : -2px;
}

.TableDropdown .autoDropdownButton{
    width:16px;
    height:17px;
    background: url(../Images/trigger.gif) 0px 0px no-repeat;
    margin-left : -2px;
}

.TableDropdown .TextboxSelected{
    border:none;
    color:#000000;
    background:#ffffff;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:10px;
    cursor:default;
}
.TableDropdown .TextboxUnselected{
    border:none;
    color:#000000;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:10px;
    cursor:default;
}

.TableAutoDropdown .TextboxSelected{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:10px;
    border: 0px;
    cursor:default;
}
.TableAutoDropdown .TextboxUnselected{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:10px;
    border: 0px;
    cursor:default;
}

.TableAutoDropdownButton{
width:16;
height:17;
border-bottom: 1px solid #d8d8d8;
background: url(../Images/trigger.gif) 0px 0px no-repeat;
}
.TableAutoDropdown .Hover{
cursor:pointer;
background: url(../Images/trigger.gif) -16px 0px no-repeat;
}
.TableAutoDropdown .Selected{
background: url(../Images/trigger.gif) -64px 0px no-repeat;
}
.TableAutoDropdown .Pressed{
background: url(../Images/trigger.gif) -48px 0px no-repeat;
}